#sax-container {
	width: 250px;
	height: 375px;
}

input {
	padding: 10px;
	margin-top: 20px;
	font-size: 16px;
	border: 1px solid blue;
	color: black;
	width: 200px;
}

input.valid {
	border: 1px solid green;
	color: green;
}

input.invalid {
	border: 1px solid red;
	color: red;	
	font-weight: bold;
}

input:focus {
	outline: none;
}